html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body{
    background-color: #030714;
    color: white;
  }
  .nav{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20rem 0 20rem;
  }
  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
/*     flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
  }