html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #030714;
  color: white;
  transition: all 0.3s;
}
.nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 60%;
}
.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1.25em;
  }
}
.logoimg {
  height: 100px;
  width: 100px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin-top: 5rem;
  margin-bottom: 10rem;
  a > img {
    width: 300px;
    height: 300px;
  }
  h2 {
    font-size: 3em;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 1.25em;
    width: 40%;
    margin: 0 auto;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 2em;
  h2 {
    border-bottom: 1px solid #2e2e2e;
  }
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /*     flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
}

.toggleMode {
  border: none;
  background: none;
  filter: invert(100%);
  align-items: center;
  padding: 0;
  cursor: pointer;
  img {
    width: 25px;
    height: 25px;
  }
}

.lightmode {
  background-color: #ffffff;
  color: black;
  transition: all 0.3s;
}
