html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #030714;
  color: white;
  transition: all 0.3s;
}
.vid-container,
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  object-fit: cover;
  z-index: -1;
}
.nav {
  padding: 10px 0;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0%;
  z-index: 100;
  transition: 0.2s linear;
}
.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right: 10rem;
  font-size: 1.15em;
  letter-spacing: 2px;
  a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1.25em;
    position: relative;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
}
.solid-nav {
  background-color: #030714;
}
.logoimg {
  height: 100px;
  width: 100px;
  margin-left: 10rem;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.8rem;
  align-items: center;
  /* margin: 0 auto; */
  margin-top: 9rem;
  margin-bottom: 10rem;
  a > img {
    width: 300px;
    height: 300px;
  }
  h2 {
    font-size: 3rem;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 1.25em;
    width: 40%;
    margin: 0 auto;
  }
  .button {
    width: 40rem;
    font-size: 1.5em;
  }
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 10rem;
  h2 {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.car-bg {
  background-color: #1b1a55;
  justify-content: start;
  height: 40rem;
  gap: 3rem;
  width: 100%;
  /* border-radius: 1rem; */
  padding: 1.5rem;
  z-index: -11;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  h2 {
    padding-top: 2rem;
    font-size: 1.5em;
  }
}
.gallery {
  width: 100%;
  /* transform: translate(0%, -140%); */
}
.carousel {
  padding: 0.1rem;
  transition: 0.2s;
}

/* .wecando {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-bottom: 5rem;
  height: 800px;
  width: 1000px;
  .wecando-bg {
    background-color: #4f4eb1;
    height: 90%;
    margin: auto 0;
    box-shadow: -5px 0px 11px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -5px 0px 11px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 0px 11px 3px rgba(0, 0, 0, 0.75);
    p {
      opacity: 0;
    }
  }
  .img-container {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
    width: 100%;
  }
  .wecando-img {
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: black;
    img {
      height: 90%;
      width: 90%;
    }
  }
  .wecando-content {
    height: 100%;
    width: 100%;
    margin: auto 0;
    padding: 2rem 10px;
    box-shadow: 5px 0px 11px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 0px 11px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 0px 11px 3px rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: 0.8s;
    p {
      font-size: 0.6em;
    }
    h2 {
      font-size: 0.9em;
    }
  }
} */

.wecando {
  margin-top: 5rem;
  width: 80%;
  display: grid;
  text-align: left;
  p {
    font-size: 0.55em;
  }
  .wecando-title {
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    font-size: 7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .wecando-container {
    display: grid;
    grid-template-columns: 22% 50% 22%;
    gap: 2.5rem;
  }
  .wecando-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    h2 {
      line-height: 160px;
    }
  }
  .wecando-img {
    border-radius: 2rem;
  }
  .wecando-middle {
    width: 100%;
    background-image: url("../img/memberPlaceholder.jpg");
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .wecando-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    img {
      width: 100%;
      height: 200px;
    }
    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.1em;
    }
  }
}
.about {
  display: flex;
  flex-direction: column;
  margin: 5rem auto 0 auto;
  width: 60%;
  /*     flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
}
.about-bg {
  background-color: #1b1a55;
  height: 15rem;
  width: 50%;
  border-radius: 1rem;
  padding: 1.5rem;
  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.about-pos {
  background-color: #030714;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #bb5a00; */
  transform: translate(15%, -23%);
  padding: 1.5rem;
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  gap: 1.25rem;
  .about-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
.meetus {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  margin-bottom: 7rem;
}

.card {
  width: 500px;
  text-align: center;
  align-items: center;
  background-color: #1b1a55;
  color: white;
  img {
    padding: 2rem;
    width: 350px;
    height: 400px;
  }
  p {
    width: 100%;
    font-size: 0.5em;
    color: white;
  }
  .card-hr {
    width: 400px;
  }
}

.contact {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center;
  background-color: #070f2b;
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h2 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.2em;
  }
}
.button {
  padding: 0.7rem;
  font-size: 1.5em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  transition: all 0.3s;
  border: none;
}
.button:hover {
  background-color: #1b1a55;
  color: white;
  transition: all 0.3s;
}
.toggleMode {
  border: none;
  background: none;
  filter: invert(100%);
  align-items: center;
  padding: 0;
  cursor: pointer;
  img {
    width: 25px;
    height: 25px;
  }
}

.lightmode {
  background-color: #ffffff;
  color: black;
  transition: all 0.3s;
  .contact {
    background-color: #ffffff;
    color: black;
  }
  .nav {
    background-color: #ffffff;
    color: black;
  }
  .toggleMode {
    filter: invert(0%);
  }
}
.content-header {
  margin: auto;
  z-index: 80;
  overflow: hidden;
}
